Dataset/
Spectrograms/
__pycache__/
funkcije.py
Model/
Model_old/
temp.png
Model_old2/
radionica1/rj_moja
radionica1/sound_processing_with_solutions
radionica1/sound_processing
ignore/
test_dataset/
Model_final/
radionica1/
AudioClassificationLumen2023/
Untitled1.ipynb
Untitled1.ipynb
Untitled1.ipynb
temp0.png
temp1.png
temp2.png
Provjerite je li Docker i Docker Compose instaliran na vašem računalu.odt
.ipynb_checkpoints/
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/training-checkpoint.ipynb
.ipynb_checkpoints/training-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
project.odt
tech.odt
tech.odt
tech.odt
*.odt
tech.odt
.~lock.project.odt\#
.~lock.tech.odt\#
