Dataset/
Spectrograms/
funkcije.py
Model/
Model_old/
temp.png
Model_old2/
radionica1/rj_moja
radionica1/sound_processing_with_solutions
radionica1/sound_processing
ignore/
test_dataset/
Model_final/
radionica1/